{% block confirmRestoreModal %}
	<!-- Modal for Dangerous Action Confirmation -->
	<div class="modal fade" id="confirmRestoreModal" tabindex="-1" role="dialog" aria-labelledby="confirmRestoreModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmRestoreModalLabel">Confirm Restore</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						<b>Please read</b><br>If you selected the option 'Overwrite', you will lose all your current data in favor of the uploaded backup.<br>To confirm, please type "import":</p>
					<input type="text" id="confirmRestoreInput" class="form-control">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-soft-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-warning" id="confirmRestoreBtn" disabled>Confirm</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
