{% extends 'error.html.twig' %}

{% block content %}

	<div class="gradient">
		<div class="container">
			<img src="{{ asset('/images/error/500.png') }}" class="img-fluid mb-4 w-50" alt="">
			<h2 class="mb-0 mt-4 text-white">Oops! An Error Occurred.</h2>
			<p class="mt-2 text-white">
				{{ 'http_error_500.description'|trans }}
			</p>
			<a class="btn bg-white text-primary d-inline-flex align-items-center" href="{{ path('dashboard') }}">Back to Home</a>
		</div>
		<div class="box">
			<div class="c xl-circle">
				<div class="c lg-circle">
					<div class="c md-circle">
						<div class="c sm-circle">
							<div class="c xs-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
